/*Lab6-StyleSheet.css*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{
    background-color: #b3c7e6;
    color: #000066;
    width: 80%;
    margin: auto;
    min-width: 960px;
    max-width: 1200px;
}
nav {
    float: left;
    width: 150px;
}
nav ul{
    list-style-type: none;
    margin-left: 0;
    padding: 10px;
}
nav a{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
nav a:link{color: #ffffff;}
nav a:visited{color: #eaeaea;}
nav a:hover{color: #000066;}
main{
    display: block; 
    margin-left: 155px;
    padding:  20px;
    background-color: #ffffff;
    color: #000000;
}
header{
    background-color: #869dc7;
    color: #00005d;
    font-size: 150%;
    text-align: center;
    padding:  10px 10px 10px 10px;
}
h1{
    margin-bottom: 10px;
}
h2{
    color: #869dc7;
    font-family: arial, sans-serif;
}
#floatright{
    margin: 10px;
    float: right;
}
.float{
    float: right;
    margin: 10px;
}
footer{
    font-size: 80%;
    text-align: center;
    clear: both;
    padding: 20px;
    background-color: #869dc7;
}